body,
html {
  margin: 0 auto;
  padding: 0;

  @include gotham-medium();

  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  color: $text-color;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
