@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin gotham-medium {
  font-family: "Gotham Rounded Medium", "Arial", sans-serif;
  font-weight: 500;
}

@mixin gotham-medium-book {
  font-family: "Gotham Rounded Book", "Arial", sans-serif;
  font-weight: 400;
}

@mixin gotham-medium-italic {
  font-family: "Gotham Rounded Medium Italic", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic;
}
