//Colors
$white-color: #ffffff;
$grey-color: #f2f2f2;
$pink-color: #d22856;
$dark-blue-color: #1d2631;
$grey-blue-color: #283645;
//Devices width
$tablet-width: 660px;
$desktop-width: 960px;
//Devices dpi
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
