.advantage__header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/flower.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantage__slides {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.advantage__header-headline {
  width: 615px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 80px;
  padding-bottom: 20px;

  @include gotham-medium-book();

  font-size: 40px;
  line-height: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage__header-subheadline {
  width: 615px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 130px;

  @include gotham-medium-book();

  font-size: 25px;
  line-height: 30px;
  letter-spacing: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.advantage__header-subheadline span {
  @include gotham-medium-italic();
}

.advantage__header-button {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-bottom: 55px;
  border-radius: 50%;
  background-color: $green-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 10px;
    height: 10px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: rotate(-45deg);
  }
}

.advantage__group {
  display: none;
}

.advantage__group--active {
  display: block;
}

.advantage__list {
  @include list-reset();

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage__item {
  width: 360px;
  padding-bottom: 77px;
}

.advantage__link {
  text-decoration: none;
}

.advantage__image {
  position: relative;
  width: 360px;
  height: 200px;
  margin-bottom: 48px;
}

.advantage__image--creative {
  background-color: #ea7567;
}

.advantage__image--think {
  background-color: #06d2ea;
}

.advantage__image--pixel {
  background-color: #3dc9b3;
}

.advantage__img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #ffffff;
}

.advantage__image:hover .advantage__img-container {
  display: block;
  background: rgba(113, 176, 156, 0.7) url("../img/icon_search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.advantage__img__title {
  margin: 0;
  padding: 0;
  padding-top: 120px;

  @include gotham-medium();
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.advantage__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 5px;
    background-color: $green-color;
  }
}

.advantage__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.advantage-controls {
  width: 100px;
  margin: 0 auto;
  padding-bottom: 110px;
}

.advantage__button-wrapper {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #242830;
}

.advantage__button {
  padding: 30px 40px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: 1px solid #ffffff;
  background: transparent;

  &:hover {
    background-color: #3d434e;
    transition: 0.2s ease-in;
  }

  &:active {
    background-color: #3d3d3d;
  }
}
