.contacts {
  background-color: #f5f5f5;
}

.contacts-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.contacts__headline {
  position: relative;
  margin: 0 auto;
  padding: 125px 0 130px 3px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: uppercase;
  color: $black-color;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    bottom: 93px;
    left: 50%;
    margin-left: -278px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contacts__list {
  width: 100%;

  @include list-reset();

  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__item {
  width: 360px;
  text-align: center;
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}

.contacts__title {
  margin: 0;
  padding: 61px 0 25px 6px;

  @include gotham-medium();

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $green-color;
  text-align: center;
}

.contacts__title--address {
  background-image: url("../img/icon_pin.png");
  background-repeat: no-repeat;
  background-position: center 28px;
}

.contacts__title--phone {
  background-image: url("../img/icon_mobile-phone.png");
  background-repeat: no-repeat;
  background-position: center 28px;
}

.contacts__title--email {
  background-image: url("../img/icon_airplane-black.png");
  background-repeat: no-repeat;
  background-position: center 23px;
}

.contacts__description {
  margin: 0;
  padding: 0 0 28px;

  @include gotham-medium();
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.contacts__social-list {
  @include list-reset();
  width: 225px;
  padding-bottom: 110px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts__social-item {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 11px;
  background-color: #242830;
  border-radius: 50%;

  &:hover {
    background-color: $green-color;
    transition: 0.2s ease-in;
  }
}

.contacts__social-item--dribbble {
  background-image: url("../img/icon_dribbble.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contacts__social-item--twitter {
  background-image: url("../img/icon_twitter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contacts__social-item--email {
  background-image: url("../img/icon_mail.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
