.main-header__promo {
  margin: 0 auto;
  padding-top: 257px;
  padding-bottom: 343px;
  text-align: center;
  background-image: url("../img/bg_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  @include gotham-medium-book();
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 12px;
  color: $black-color;
  text-transform: uppercase;
}

.main-header__headline--grey {
  color: $text-color;
}

.main-header__descr {
  margin: 0;
  padding: 0;
  padding-bottom: 66px;

  @include gotham-medium-book();
  font-size: 15px;
  line-height: 18px;
}

.main-header__descr--italic {
  @include gotham-medium-italic();
}

.main-header__button {
  padding: 23px 40px;
  @include gotham-medium();
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $green-color;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 0 #309383;

  &:hover,
  &:focus {
    background-color: #74c8bb;
  }

  &:active {
    background-color: #309383;
  }
}

.main-header__description {
  padding-top: 107px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #f3f5f8;
}

.main-header__description-title {
  margin: 0;
  padding: 0;
  padding-bottom: 110px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black-color;
}

.main-header__description-text {
  width: 780px;
  margin: 0 auto;
  padding: 0 26px;
  font-size: 14px;
  line-height: 30px;
}

.main-header__text--accent {
  color: $black-color;
}
