.main-footer {
  width: 100%;
  background-color: $black-color;
}

.main-footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 55px 15px;
}

.main-footer__copyright,
.main-footer__legals {
  @include gotham-medium-book();

  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  text-decoration: none;
}
