.main-header {
  width: 100%;
  position: relative;
}

.main-header__promo {
  margin: 0 auto;
  padding-top: 257px;
  padding-bottom: 343px;
  text-align: center;
  background-color: #f3f5f8;
  background-image: url("../img/bg_header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-header__promo-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-header__headline {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 30px;

  @include gotham-medium-book();
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 12px;
  color: $black-color;
  text-transform: uppercase;
}

.main-header__headline--grey {
  color: $text-color;
}

.main-header__descr {
  margin: 0;
  padding: 0;
  padding-bottom: 66px;

  @include gotham-medium-book();
  font-size: 15px;
  line-height: 18px;
}

.main-header__descr--italic {
  @include gotham-medium-italic();
}

.main-header__button {
  padding: 23px 40px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $green-color;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 0 #309383;

  &:hover,
  &:focus {
    background-color: #74c8bb;
    transition: 0.2s ease-in;
  }

  &:active {
    background-color: #309383;
  }
}

.main-header__description {
  width: 100%;
  margin: 0 auto;
  padding-top: 107px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #f3f5f8;
}

.main-header__description-wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header__description-title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 110px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black-color;

  &::after {
    position: absolute;
    content: "";
    bottom: 50px;
    left: 50%;
    margin-left: -270px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-header__description-text {
  width: 960px;
  margin: 0 auto;
  padding: 0 26px;
  font-size: 14px;
  line-height: 30px;
}

.main-header__description-accent {
  color: $black-color;
}

.main-header__menu {
  line-height: 50px;
  display: flex;
  position: fixed;
  top: 13px;
  right: 30px;
  justify-content: center;

  width: 30px;
  height: 30px;

  z-index: 10;
}

.main-header__menu-cross {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: $black-color;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    right: 0;
    width: 30px;
    height: 2px;
    background: $black-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 30px;
    height: 2px;
    background: $black-color;
  }
}

.main-header__menu-cross--active {
  height: 0;
  top: -17px;

  &::before {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
    background-color: $black-color;
    transform: rotate(-45deg);
  }

  &::after {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
    background-color: $black-color;
    transform: rotate(45deg);
  }
}

.main-header__menu--active {
  background-color: transparent;
  width: 100%;
  top: 0;
  right: 0;
}

.main-header__menu-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.main-header__menu-button--active {
  top: 16px;
  right: 30px;
}

.main-header__menu-list {
  display: none;
}

.main-header__menu-list-active {
  width: 100%;

  @include list-reset();

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(47, 81, 105, 0.1);
}

.main-header__menu-item {
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    border: 1px solid $black-color;
    transition: 0.2s linear;
  }
}

.main-header__menu-item:hover .main-header__menu-link {
  color: $black-color;
}

.main-header__menu-link {
  display: block;
  padding: 15px;

  @include gotham-medium();
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
}
