.our-teams {
  width: 100%;
  margin: 0 auto;
}

.our-teams-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.our-teams__headline {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 103px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $black-color;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    bottom: 50px;
    left: 315px;
    width: 555px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.our-teams__group {
  display: none;
}

.our-teams__group--active {
  display: block;
  animation: bounceInRight 1s;
}

.our-teams__list {
  @include list-reset();

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-teams__item {
  width: 360px;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 77px;
}

.our-teams__item--dribbble,
.our-teams__social-item--dribbble {
  background-image: url("../img/icon_dribbble.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.our-teams__item--twitter,
.our-teams__social-item--twitter {
  background-image: url("../img/icon_twitter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.our-teams__item--email,
.our-teams__social-item--email {
  background-image: url("../img/icon_mail.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.our-teams__image {
  padding-bottom: 55px;
}

.our-teams__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 5px;
    background-color: $green-color;
  }
}

.our-teams__description {
  width: inherit;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  flex-grow: 1;
}

.our-teams__social-list {
  @include list-reset();
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.our-teams__social-item {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #242830;
  border-radius: 50%;

  &:hover {
    background-color: $green-color;
    transition: 0.2s ease-in;
  }
}

.our-teams-controls {
  width: 100px;
  margin: 0 auto;
  padding-bottom: 110px;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
