.slider {
  margin: 0 auto;
  padding: 0 15px;
}

.slider-slides {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f3f5f5;
  background-image: url("../img/slider_iphone-5s.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.slider-slides__group {
  position: relative;
  display: none;
  width: 50%;
  margin-left: auto;
  background-color: #ffffff;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    background-image: url("../img/bg_shadow-left.png");
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.slider-slides__group--active {
  display: block;
}

.slide-headline {
  position: relative;
  width: 550px;
  margin: 0 auto;
  padding: 0;
  padding-top: 130px;
  padding-bottom: 80px;
  text-align: center;

  @include gotham-medium();
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black-color;

  &::after {
    position: absolute;
    content: "";
    top: 170px;
    left: 74px;
    width: 430px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slide-description {
  width: 490px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 130px;
  text-align: justify;
}

.slide-description p {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}

.slide-controls {
  width: 100px;
  bottom: -60px;
  left: 75%;
  position: absolute;
  margin: 0 auto;
  margin-left: -50px;
  padding-bottom: 130px;
}

.slide-btn {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  border: 2px solid $text-color;
  border-radius: 50%;
  background-color: #ffffff;
}

.slide-btn--active {
  background-color: #000000;
}
