.slider {
  margin: 0 auto 130px;
  position: relative;
  min-height: 570px;
}

.slider-slides {
  width: 1200px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  margin-right: 204px;
  display: flex;
  flex-direction: column;
  background-color: #f3f5f5;
  background-image: url("../img/slider_phone-1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.slider-slides__group {
  position: relative;
  display: none;
  width: 585px;
  margin-left: auto;
  margin-bottom: -13px;
  padding-bottom: 100px;
  background-color: #ffffff;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    background-image: url("../img/bg_shadow-left.png");
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.slider-slides__group--active {
  display: block;
}

.slide-headline {
  position: relative;
  width: 550px;
  margin: 0 auto;
  padding: 0;
  padding-left: 70px;
  padding-top: 130px;
  padding-bottom: 75px;
  text-align: center;

  @include gotham-medium-book();
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: $black-color;

  &::after {
    position: absolute;
    content: "";
    top: 170px;
    left: 94px;
    width: 430px;
    height: 15px;
    background-image: url("../img/bg_headline.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slide-description {
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 10px;
}

.slide-text {
  @include gotham-medium-book();

  margin: 0;
  padding: 0 0 20px;
  font-size: 15px;
  line-height: 20px;
}

.slide-controls {
  width: 585px;
  position: relative;
  bottom: 0;
  right: -30px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.slide-btn {
  width: 13px;
  height: 13px;
  margin-left: 8px;
  padding: 0;
  border: 2px solid $text-color;
  border-radius: 50%;
  background-color: #ffffff;
}

.slide-btn--active {
  background-color: #000000;
}
