.subscribe {
  margin: 0 auto;
  text-align: center;
  background-color: #32353a;
  background-image: url("../img/bg_subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__form {
  position: relative;
  padding-bottom: 150px;
  background: $black-color;
  opacity: 0.8;
}

.subscribe__headline {
  margin: 0;
  padding: 0;
  padding-top: 170px;
  padding-bottom: 45px;

  @include gotham-medium();

  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

.subscribe__input {
  width: 360px;
  padding: 25px 10px;
  // margin-bottom: 154px;
  border: 1px solid #ffffff;
  background: transparent;
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.subscribe__button-send {
  padding: 27px;
  @include gotham-medium();
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green-color;
  border: none;
}

.subscribe__button {
  position: absolute;
  display: inline-block;
  bottom: -75px;
  left: 50%;
  width: 43px;
  height: 43px;
  margin-bottom: 55px;
  margin-left: -21px;
  border-radius: 50%;
  background-color: #3dc9b3;
  opacity: 0.8;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 18px;
      left: 16px;
      width: 10px;
      height: 10px;
      border-left: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      transform: rotate(135deg);
    }
}

// TODO ДОбавить оверлей на фон
