.subscribe {
  margin: 0 auto;
  text-align: center;
  background-color: #32353a;
}

.subscribe--overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg_subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__form {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 153px;
}

.subscribe__headline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-left: 2px;
  padding-top: 170px;
  padding-bottom: 42px;

  @include gotham-medium-book();

  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #ffffff;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 125px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon_airplane.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.subscribe__input {
  width: 353px;
  margin-left: 5px;
  padding: 24px 10px;
  border: 1px solid #ffffff;
  background: transparent;
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;

  &:hover {
    outline: 2px solid $green-color;
  }
}

.subscribe__button-send {
  margin: 0 auto;
  padding: 25px;

  @include gotham-medium-book();

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green-color;
  border: none;

  &:hover {
    outline: 1px solid #ffffff;
  }
}

.subscribe__button {
  position: absolute;
  display: inline-block;
  bottom: -80px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 55px;
  margin-left: -22px;
  border-radius: 50%;
  background-color: #3dc9b3;
  opacity: 0.8;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 16px;
    width: 14px;
    height: 14px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: rotate(135deg);
  }
}
